body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: rgb(1, 87, 155);
    padding: .25em;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-shadow: -4px 2px rgba(0,0,0,.5);
    box-shadow: 5px 10px 8px 10px #888888;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    border-top: 1px solid black;
}

ul:nth-child(2) {
    border-bottom: 1px solid black;
}

nav li {
  float: left;
}

nav li a:hover {
    background-color: white;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}

.left {
    float: left;
    width: 100%;
}

.right {
    float: right;
    width: 100%;
}

form {
    margin-left: 1em
}

.form-group {
    margin-top: .5em;
    margin-bottom: .6em;
}

.checkbox {
    margin-bottom: .5em
}

img{
    display: block;
}

.card {
    display: inline-block;
    margin: 1em 0.1em 1em 0.1em;
    padding: 1em;
    width: 15em;
    outline-style: solid;
    outline-color: rgb(214, 32, 84);
    background-color: lightskyblue;
    text-align: center;
}

.card img {
    margin: auto;
    display: block;
    padding: 0 0 10% 0;
}

.center_text{
    text-align: center;

}

main {
    margin-top: 1em;
}

main h1 {
    border-bottom: solid black 0.05em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

section {
    margin-left: 2em;
}

.trade {
    border: solid rgb(214, 32, 84) 0.15em;
    margin-left: 0;
    margin-right: 0.1em;
    text-align: center;
    display: inline-block;
    padding: 0.5em;
}

.user {
    border-bottom: solid black 0.1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.trade form, .card form, .user form {
    margin-left: 0;
}

.container {
    margin-left: 1.5em;
}
