* {
    font-family: Georgia, serif;
}

body {
  background: #F8F8FF;
}

.form {
    background: dodgerblue;
    margin: 0em 1em 1em 0em;
    border-radius: .5em .5em .5em .5em;
    padding: 0em .5em .5em .5em;
    border: 3px solid black;
    display: inline-block;
}

.form:hover {
    border: 3px solid red;
}

#main button {
    display: block;
}

ul{
    background: white;
    list-style:none;
    max-height:300px;
    max-width: 300px;
    margin: 0 0 1em 1em;
    overflow:auto;
    padding:0;
    text-indent:10px;
}

li:nth-child(even){
    background:lightblue;
}

.trade {
    display: inline-block;
    margin: 2%;
    width: auto; 
}
