* {
    font-family: Georgia, serif;
}

body {
  background: #F8F8FF;
}

.form {
    background: dodgerblue;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: .5em .5em .5em .5em;
    padding: 0em .5em .5em .5em;
    border: 3px solid black;
    display: inline-block;
}

.form:hover {
    border: 3px solid red;
}

#successful_sign_in input{
    display: inline-block;
}

ul{
    background: white;
    list-style:none;
    max-height:300px;
    max-width: 300px;
    margin: 0 0 1em 1em;
    overflow:auto;
    padding:0;
    text-indent:10px;
    margin: 0 auto;
}

li:nth-child(even){
    background:dodgerblue;
}

.trade {
    display: inline-block;
    margin: 2%;
    width: auto; 
}

.card {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 15%;
    outline-style: solid;
    outline-color: red;
    background-color: lightskyblue;
}

.card img {
    margin: auto;
    display: block;
    padding: 0 0 10% 0;
}

.center_text{
    text-align: center;
}

.center_buttons{
    margin-left: 27%;
    width: 10%;
    padding: 2%;
}

.center_button{
    margin-left: 45%;
    width: 10%;
    padding: 2%;
}
