<!doctype html>
<html>
<head>
    <title>Buy Page</title>
</head>
    <body>
        <h1> This is the card purchasing page!</h1>
        <h2>Any cards that are available for purchase will be displayed here</h2>
        <p>Here are the cards that we have available:</p>
        {%for card in all_cards%}
            <p>{{card.name}}</p>
        {%endfor%}
        <button><a href="{{ url_for('about') }}">About</a></button>
        <button><a href="{{ url_for('sign_in') }}">Sign In</a></button>
        <button><a href="{{ url_for('successful_sign_in') }}">Dashboard</a></button>
    </body>
</html>