<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Display Page</title>
</head>
    <body>
    <h1> This is the card display page!</h1>
        {%if length == 0 %}
            <p>You have no cards</p>
        {%endif%}

        {%if length > 0 %}
            <h2>Here are the cards in your inventory:</h2>
            {%for card in c_list%}
                <p>{{card.name}}, {{card.pos}}</p>
            {%endfor%}
        {%endif%}

        <button><a href="{{ url_for('successful_sign_in') }}">Home</a></button>
        <button><a href="{{ url_for('sign_in') }}">Sign In</a></button>
    </body>
</html>