<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Home Page</title>
</head>
    <body id="main">
        <h1> This is the home page!</h1>
        <h2> Sign in to access your card trading system!</h2>
        {%if valid_user == False%}
            <p>Please try again</p>
        {%endif%}
        <form action="/sign_in" method="POST" class="form" id="signin">
            <p>Sign in</p>
            <label for="username">Username</label>
            <input type="text" name="username"></input>
            <input type="submit" value="Sign In"></input>
        </form>
        {%if valid_user == False%}
            <p>Username: {{u_name}} is not valid</p>
        {%endif%}

        <form action="/sign_up" method="POST" class="form" id="signup">
            <p>Register </p>
            <label for="username">Username</label>
            <input type="text" name="username">
            <input type="submit" value="Register">
        </form>
        {%if user_exists == True%}
            <p>User already exists</p>
        {%endif%}
        <button><a href="{{ url_for('about') }}">About</a></button>
    </body>
</html>