<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Successful Sign In</title>
</head>
    <body>
        <h1 class="center_text">Welcome {{u_name}}! This is your dashboard</h1>
        <h1 class="center_text"> Make a selection for what you want to do</h1>
        <form action="/selection" method="POST"class="center_text">
            <input type="radio" id="display" name="selection" value="display">
            <label for="display">Display</label><br>
            <input type="radio" id="buy" name="selection" value="buy">
            <label for="buy">Buy</label><br>
            <input type="radio" id="trade" name="selection" value="trade">
            <label for="trade">Trade</label><br>
            <input type="submit">
        </form>
        <br>
        <button class="center_button"><a href="{{ url_for('home') }}">Home</a></button>
    </body>
</html>