{% extends "base.html" %}

{% block page_content %}
    <h1>Dashboard for {{ current_user.name }}</h1>

    <h3>Your Cards (limit {{ num_user_cards }}/5 per user)</h3>
    {% for card in user_cards %}
        <div>
            {% include '_own_card.html' %}
        </div>
    {% endfor %}
    <form action="/add_cards" method="GET">
        <input type="submit" value="Add Cards">
    </form>

    <h3>Your Trades</h3>
    {% for trade in user_trades %}
        {% include '_own_trade.html' %}
    {% endfor %}
    <form action="/create_trade" method="GET">
        <input type="submit" value="Create Trade">
    </form>

{% endblock %}